@font-face {
    font-family: 'kenney_future_squareregular';
    src: url('kenney-future.square-regular-webfont.eot');
    src: url('kenney-future.square-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('kenney-future.square-regular-webfont.woff') format('woff'),
         url('kenney-future.square-regular-webfont.ttf') format('truetype'),
         url('kenney-future.square-regular-webfont.svg#kenney_future_squareregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.navbar {
	background-color:#4A0001;
	font-family: 'kenney_future_squareregular';
}
.jumbotron {
	font-family: 'kenney_future_squareregular';
	background-color: black;
	color: maroon;
}
body {
	background-color: black
}
footer{
	font-family:'kenney_future_squareregular';
	color:grey;
}
.container{	
	padding-top: 195px ;
    padding-bottom: 195px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
footer{
	background-color:#4A0001;
}
.container-fluid marquee {
	color: #b40000;
	font-family: 'kenney_future_squareregular';
}
.card{
    background-color: #3E0000;
    font-family: 'kenney_future_squareregular';
    color: #8A8A8A;
    text-align: center;s
	border:5px 
}.card #headingOne1 .mb-0 {
    color: red;
}
